*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Arial Narrow Bold', sans-serif;
    
}
body{
    background: linear-gradient(135deg, rgba(25,205,120,0.5), rgba(25,205,120,0.5));
}
.container{
    padding: 60px;
    font-size: 35px;
    width: 100%;
    min-height: 100vh;
    color: white;

}
.container h1{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.container h1 span{
    color: rgb(82, 247, 82);
}
.container h1 img{
    width: 80px;
    height: 80px;
}
.container button{
    padding: 10px 15px;
    border-radius: 15px;
    border: 0;
    background: rgb(82, 247, 82);
    color: white;
    font-size: 18px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    
    text-align:center;
    cursor:pointer;
    position: relative;
}
.container button img{
    color: white;
    margin: 0;
    padding: 0;
    display: none;

    
    
}
.container p{
    position: relative;
    width: 100;
    max-width: 500px;
    background-color: #fff;
    min-height: 150px;
    padding: 20px;
    margin: 20px 0;
    color: #000;
    outline: 0;
    border-radius: 5px;
    font-size: small;
    /* display: none; */
}
.container p img{
    width: 20px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}
