*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: #0b0423;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#left, #right{
    border: 2px dashed white;
    width: 300px;
    min-height: 400px;
    margin: 10px;    
}
.list{
    background: #0a4f4f;
    width: 280px;
    min-height: 73px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin: 20px auto;

}